body{
    padding-bottom: 50px;
}
.main-container{
    margin-top: 20px;
    margin-left: 29%;
}
footer{
    color: rgb(255, 187, 0);
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    height: 50px;
}